.logo {
  display: flex;
  position: absolute;
  top: 2.1rem;
  left: 1.9rem;
  width: 28.4rem;
  height: 4.6rem;
  color: #fff;
  font-size: 1.4rem;
  letter-spacing: 0.1rem;
  font-weight: 900;
  text-indent: 5.4rem;
}
.logo:after {
  position: absolute;
  left: 1px;
  bottom: 0.6rem;
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  background: transparent url("../images/soundcloud-logo.png") no-repeat;
  background-size: 48px 22px;
}
