.neverstop__container {
  display: flex;
  font-family: "Interstate";
}
.neverStop__image {
  padding: 2rem;
}
.neverStop__textcontainer {
  display: flex;
  flex-direction: column;
  width: 30%;
}
.neverStop__title {
  font-size: 3rem;
  background: no-repeat url("../images/hp_creator_image.jpg");
}
.neverStop__copy {
  font-size: 2rem;
}
.neverStop__ads {
  display: flex;
}
.creators {
  display: flex;
  flex-direction: column;
  font-family: "Interstate";
  background: no-repeat url("../images/hp_creator_image.jpg");
  color: #fff;
}
.creators__title {
  font-size: 3rem;
  width: 40%;
}
.creators__copy {
  font-size: 2rem;
  width: 40%;
}
.creators__btn {
}
.thanksContainer {
  display: flex;
}
.thanks__title {
  font-size: 3rem;
}
.thanks__copy {
  font-size: 2rem;
}
.thanks__signIn {
}
