.container {
  padding: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.trackList {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 4rem;
  font-family: "Interstate";
  font-size: 1.6rem;
  color: #666;
  margin-bottom: 2rem;
}
