.track {
  width: 15%;
}

.trackItem {
  position: relative;
}
.title {
  font-family: "Interstate";
  font-size: 1.4rem;
  color: #333;
  margin-bottom: 4rem;
}
.user {
  font-size: 1.2rem;
  color: #999;
}
.user:hover {
  color: #666;
}
.playButton {
  display: flex;
  justify-content: center;
  position: absolute;
  top: 6rem;
  left: 34%;
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  background-color: #f50;
}
.playButton:hover {
  background-color: #f30;
}
.playButton img {
  margin-left: 3px;
}
.likeButton {
  position: absolute;
  bottom: 0.6rem;
  right: 3.4rem;
}
.moreButton {
  position: absolute;
  bottom: 1.2rem;
  right: 1.2rem;
}
.buttonContainer {
  width: 15%;
  height: 26rem;
  padding-bottom: 12px;
  position: relative;
}
.buttonContainer:hover {
  cursor: pointer;
}
