@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");

@font-face {
  font-family: "Lucida Sans";
  src: local("Lucida Sans"), url(./fonts/Lucida%20Sans.ttf) format("truetype");
}

@font-face {
  font-family: "Lucida Grande";
  src: local("Lucida Grande"),
    url(./fonts/LucidaGrandeBold.ttf) format("truetype");
}

@font-face {
  font-family: "Interstate";
  src: local("Interstate"),
    url(./fonts/Interstate-regular.ttf) format("truetype");
}

:root {
  --primary: #f50;
  --off-white: #f2f2f2;
  --white: #fff;
}

html,
body {
  font-size: 62.5%;
  margin: 0;
  font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "Garuda",
    "Verdana", "Tahoma", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f2f2f2;
}
a {
  color: #fff;
  text-decoration: none;
}

.hero__container {
  width: 1240px;
  margin: auto;
  display: flexbox;
  position: relative;
  background-color: #fff;
  height: 100vmin;
  border-top: solid 4px #f50;
}
@media screen and (max-width: 1079px) {
  .hero__container {
    width: 960px;
  }
}
@media screen and (min-width: 1080px) {
  .hero__container {
    width: 1080px;
  }
}
@media screen and (min-width: 1240px) {
  .hero__container {
    width: 1240px;
  }
}

.hero__container img {
  max-width: 100%;
}

input[type="submit"] {
  margin-left: -50px;
  height: 20px;
  width: 50px;
}
